
.code {
  text-align: left;
  width: $example-width + 22px;
  padding: 10px 11px;
  margin: 0 auto 10px;
  font-size: 24px;

  pre {
    font-family: 'Source Code Pro', monospace;
  }
}

.step-result-code {
  .code {
    font-size: 20px;
    width: 1137px;
  }
}